<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlbumViewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A528FB3C25BB581000A61ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A528FB5225BB581100A61ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A528FB5D25BB581100A61ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
